#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.folder-name {
  cursor: pointer;
  font-weight: bold;
  margin: 5px 0;
}

.children {
  padding-left: 20px;
}

.file {
  margin-left: 20px;
}
